.user-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* div{
    display: flex;
} */

.user-list{
    display: flex;
}